{% extends 'base.html' %}
{% block content %}
<!-- Blog entries-->
<div class="col-lg-8">
{% for pub in publicaciones %}
    {# if pub.destacado #}
    <!-- Featured blog post-->
    <div class="card mb-4">
        {# if pub.imagen #}{# url 'publicacion_ver' pub.imagen.url #}{# endif #}
        <a href="{% url 'publicacion_ver' pub.id %}"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" /></a>
        <div class="card-body">
            <div class="small text-muted">{{ pub.fechaCreacion }}</div>
            <h2 class="card-title">{{ pub.titulo }}</h2>
            <p class="card-text">{{ pub.contenido|truncatechars:50 }}</p>
            <a class="btn btn-primary" href="{% url 'publicacion_ver' pub.id %}">Leer más →</a>
        </div>
    </div>
{% endfor %}
    <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
        </ul>
    </nav>
</div>
{% endblock %}