{% extends 'base.html' %}
{% block content %}
<!-- Blog entries-->
<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        {% if user.is_authenticated %}
        <h1>Sesión iniciada</h1>
        <p><label>Usuario: </label><value>{{ user.username }}</value></p>
        <a href="../">Ir al panel de cuenta</a>
        <p>¿Tú no eres "{{ user.username }}"? <a href="../cerrar/">Cerrar sesión</a></p>
        {% else %}
        <h1>Iniciar sesión</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Iniciar sesión" />
        </form>
        <p class="message">¿Aún no tienes una cuenta? <a href="../registrar/">Registrate aquí</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}