{% extends 'base.html' %}
{% block content %}
<!-- Blog entries-->
<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <h1>Crear nueva cuenta de usuario</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Registrar" />
            </form>
            <p class="message">¿Ya tiene cuenta? <a href="../iniciar/">Iniciar sesión</a></p>
    </div>
</div>
{% endblock %}